@import

  "_include-media",
  '_variables'
  ;

.date {
  text-align: center;
  display: block;
  width: 100%;
  &.number {
    font-weight: bold;
    font-size: 32pt;
  }
  &.month {
    font-size: 12pt;
  }
}
.article {
  .entry-summary {
      margin-top:20px !important;
    p {
      font-size: 12pt;
      padding: 10px;
      line-height: 1.5;
      text-align: justify;
    }
  }
}

@include media('>=desktop') {}
@include media('>=tablet') {}
@include media('<=tablet') {

    // posts
    .article {
        margin-top:20px !important;
        .entry-summary, .entry-content {
          text-align: justify;
          padding: 5px;
          margin-top: 20px;
          line-height: 1.5;
          font-size:12pt;
        }
    }
    .entry-title {
      text-align: center;
      a {
        > span {
          display: block !important;
        }
        span.hidden-xs {
          display: block !important;
          text-align: center;
          padding: 20px 5px 5px 0px;
        }
      }
    }

}
